.RoadMap{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2f1d61;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    padding-top: 2rem;
    grid-template-columns: 1fr;
    .RoadMap-content{
        justify-self: center;
        width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
        p{
            color: #ffff;
            font-weight: bold;
            font-size: 34px;

        }
    }
}